In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [5]:
df = pd.read_csv("pollution_us_2000_2016.csv")

In [6]:
df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [7]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [8]:
df.columns

Index(['State Code', 'County Code', 'Site Num', 'Address', 'State', 'County',
       'City', 'Date Local', 'NO2 Units', 'NO2 Mean', 'NO2 1st Max Value',
       'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [9]:
states = df['State'].unique()
states

array(['Arizona', 'California', 'Colorado', 'District Of Columbia',
       'Florida', 'Illinois', 'Indiana', 'Kansas', 'Kentucky',
       'Louisiana', 'Michigan', 'Missouri', 'New Jersey', 'New York',
       'North Carolina', 'Oklahoma', 'Pennsylvania', 'Texas', 'Virginia',
       'Massachusetts', 'Nevada', 'New Hampshire', 'Tennessee',
       'South Carolina', 'Connecticut', 'Iowa', 'Maine', 'Maryland',
       'Wisconsin', 'Country Of Mexico', 'Arkansas', 'Oregon', 'Wyoming',
       'North Dakota', 'Idaho', 'Ohio', 'Georgia', 'Delaware', 'Hawaii',
       'Minnesota', 'New Mexico', 'Rhode Island', 'South Dakota', 'Utah',
       'Alabama', 'Washington', 'Alaska'], dtype=object)

In [10]:
len(states)

47

In [11]:
df['Date Local'] = pd.to_datetime(df['Date Local'])
df = df.set_index('Date Local')

In [12]:
df.columns

Index(['State Code', 'County Code', 'Site Num', 'Address', 'State', 'County',
       'City', 'NO2 Units', 'NO2 Mean', 'NO2 1st Max Value',
       'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [13]:
drop_cols = ['State Code', 'County Code', 'Site Num', 'Address', 'City', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI']

In [14]:
df.shape

(1746661, 27)

In [15]:
df.drop(drop_cols, axis = 1, inplace=True)
df.head()

,State,County,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
Date Local,,,,,,,,,,
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,0.878947
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,0.878947
2000-01-02,Arizona,Maricopa,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,Parts per million,0.850000

In [16]:
df['NO2 Units'].unique()

array(['Parts per billion'], dtype=object)

In [17]:
df['SO2 Units'].unique()

array(['Parts per billion'], dtype=object)

In [18]:
df['O3 Units'].unique()

array(['Parts per million'], dtype=object)

In [19]:
df['CO Units'].unique()

array(['Parts per million'], dtype=object)

In [20]:
df['NO2 Mean'] = df['NO2 Mean']/1000
df['SO2 Mean'] = df['SO2 Mean']/1000

In [21]:
df.head()

,State,County,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
Date Local,,,,,,,,,,
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.003000,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.003000,Parts per million,0.878947
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.002975,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.002975,Parts per million,0.878947
2000-01-02,Arizona,Maricopa,Parts per billion,0.022958,Parts per million,0.013375,Parts per billion,0.001958,Parts per million,0.850000

In [22]:
remove_unit_cols = ['NO2 Units', 'SO2 Units', 'O3 Units', 'CO Units']
df.drop(remove_unit_cols, axis=1, inplace=True)
df.head()

              State    County  NO2 Mean   O3 Mean  SO2 Mean   CO Mean
Date Local
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.003000  1.145833
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.003000  0.878947
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.002975  1.145833
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.002975  0.878947
2000-01-02  Arizona  Maricopa  0.022958  0.013375  0.001958  0.850000

In [23]:
df.isna().sum()

State       0
County      0
NO2 Mean    0
O3 Mean     0
SO2 Mean    0
CO Mean     0
dtype: int64

In [24]:
df['Total Mean'] = df['NO2 Mean'] + df['O3 Mean'] + df['SO2 Mean'] + df['CO Mean']

In [25]:
df.head()

,State,County,NO2 Mean,O3 Mean,SO2 Mean,CO Mean,Total Mean
Date Local,,,,,,,
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.003000,1.145833,1.190375
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.003000,0.878947,0.923489
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.002975,1.145833,1.190350
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.002975,0.878947,0.923464
2000-01-02,Arizona,Maricopa,0.022958,0.013375,0.001958,0.850000,0.888292

In [26]:
df_list = []
for i in range(2000, 2017, 1):
    df_list.append(df.loc[str(i)])

In [37]:
mean_cols = ['NO2 Mean', 'O3 Mean', 'SO2 Mean', 'CO Mean', 'Total Mean']

In [52]:
def get_df(df_list, gas_name):
    dict_of_lists = {state:[] for state in states}
    for df_year in df_list:
        for state in states:
            state_vals = df_year[df_year['State'] == state]
            dict_of_lists[state].append(state_vals[gas_name].mean())
    result = pd.DataFrame(dict_of_lists)
    
    # change the indices so that they reflect years
    index_list = [item for item in range(2000, 2017)]
    result.index = index_list
    
    # get only the columns for which one has non-NaN values.
    result.dropna(axis = 1, inplace=True)
    return result

In [55]:
no2_df = get_df(df_list, 'NO2 Mean')
no2_df

,Arizona,California,Colorado,District Of Columbia,Florida,Illinois,Indiana,Kansas,Louisiana,New York,North Carolina,Oklahoma,Pennsylvania,Texas
2000,0.026488,0.017581,0.014902,0.022726,0.012453,0.026437,0.015288,0.009704,0.017346,0.023167,0.015173,0.004771,0.016131,0.016347
2001,0.022745,0.017761,0.025783,0.024474,0.012388,0.022357,0.014948,0.010595,0.017359,0.025032,0.013854,0.008272,0.015966,0.016241
2002,0.023665,0.016755,0.019769,0.024441,0.011314,0.019854,0.016393,0.008776,0.018008,0.023964,0.012266,0.006610,0.014585,0.016094
2003,0.023101,0.015795,0.021073,0.022641,0.010930,0.020684,0.014523,0.009623,0.015563,0.022882,0.011956,0.006296,0.014061,0.015610
2004,0.020134,0.015151,0.021645,0.020956,0.009516,0.018814,0.013781,0.009540,0.015816,0.020890,0.010630,0.005397,0.013627,0.013786
2005,0.021360,0.013966,0.024177,0.020837,0.008644,0.017899,0.013231,0.010950,0.014400,0.021336,0.012434,0.008135,0.013449,0.013879
2006,0.020835,0.014016,0.024645,0.015967,0.008520,0.017392,0.013923,0.011178,0.014992,0.019239,0.012285,0.007873,0.012460,0.013524
2007,0.019330,0.013076,0.023835,0.015332,0.006136,0.014502,0.010994,0.013394,0.015199,0.018541,0.013916,0.007787,0.012142,0.013107
2008,0.018251,0.012977,0.019081,0.018058,0.005214,0.014086,0.009289,0.016808,0.013101,0.016704,0.011208,0.006231,0.011102,0.010625
2009,0.017156,0.012873,0.014231,0.018303,0.006028,0.013417,0.010136,0.012272,0.012875,0.012977,0.009852,0.006455,0.010652,0.008671
2010,0.015917,0.012247,0.016171,0.017644,0.005672,0.013035,0.009392,0.013067,0.012699,0.012981,0.011689,0.006442,0.010943,0.010823
2011,0.016615,0.012283,0.017526,0.015929,0.005362,0.012111,0.009906,0.013101,0.011666,0.013088,0.009995,0.006744,0.011238,0.010375
2012,0.017832,0.011071,0.020321,0.016273,0.005407,0.011954,0.009840,0.012066,0.011401,0.018095,0.008672,0.006483,0.011092,0.010316
2013,0.015480,0.011762,0.014343,0.011500,0.004546,0.010984,0.010360,0.011860,0.009645,0.017920,0.008482,0.006744,0.009624,0.009572
2014,0.016112,0.010884,0.016904,0.012303,0.004979,0.010548,0.011334,0.011031,0.010481,0.016921,0.007745,0.006023,0.009267,0.009534
2015,0.012705,0.010269,0.020039,0.013233,0.004110,0.008380,0.013494,0.011036,0.009386,0.017166,0.006945,0.007806,0.006998,0.009253
2016,0.015811,0.008102,0.023624,0.012461,0.005493,0.010374,0.013857,0.011585,0.012911,0.017847,0.007471,0.008125,0.007416,0.010357

In [57]:
o3_df = get_df(df_list, 'O3 Mean')
o3_df

,Arizona,California,Colorado,District Of Columbia,Florida,Illinois,Indiana,Kansas,Louisiana,New York,North Carolina,Oklahoma,Pennsylvania,Texas
2000,0.023655,0.023675,0.017066,0.017567,0.026261,0.017105,0.029782,0.029726,0.023756,0.021252,0.034652,0.037325,0.024541,0.024590
2001,0.021628,0.024844,0.016376,0.020936,0.024162,0.020866,0.032153,0.027978,0.022978,0.020936,0.033747,0.034316,0.027188,0.025967
2002,0.022803,0.026342,0.020604,0.024150,0.023168,0.021778,0.035506,0.027316,0.021038,0.022017,0.037135,0.031259,0.028254,0.028803
2003,0.022508,0.025648,0.019414,0.019372,0.023417,0.020923,0.029897,0.027760,0.020969,0.021158,0.030766,0.035488,0.025347,0.027018
2004,0.022614,0.025979,0.017202,0.019498,0.025964,0.020636,0.030380,0.024331,0.022232,0.021117,0.030785,0.032470,0.024407,0.024734
2005,0.023738,0.025119,0.018818,0.021644,0.027014,0.024536,0.032807,0.026171,0.025390,0.022630,0.032039,0.033963,0.027749,0.027122
2006,0.025204,0.026274,0.020494,0.026704,0.029191,0.021144,0.024200,0.027627,0.022960,0.023701,0.032401,0.030523,0.027407,0.025674
2007,0.024247,0.026670,0.021692,0.028556,0.028464,0.023437,0.031857,0.023232,0.022393,0.023020,0.029454,0.026174,0.028704,0.024283
2008,0.025574,0.026976,0.025609,0.026468,0.027828,0.021670,0.028750,0.022086,0.021695,0.024348,0.028049,0.026592,0.027024,0.024720
2009,0.025385,0.026157,0.026783,0.023656,0.028474,0.020628,0.025930,0.023496,0.022425,0.025203,0.025921,0.028389,0.025312,0.023981
2010,0.025903,0.025669,0.022955,0.028240,0.028882,0.026312,0.029450,0.021598,0.025292,0.028121,0.028405,0.029255,0.028052,0.025234
2011,0.026813,0.026144,0.027845,0.024585,0.028131,0.024867,0.033771,0.021984,0.025234,0.025911,0.029280,0.035819,0.024840,0.027572
2012,0.026513,0.026872,0.026317,0.025916,0.026902,0.027685,0.035763,0.028824,0.024979,0.024574,0.028014,0.032624,0.024558,0.027163
2013,0.027973,0.026073,0.028709,0.025505,0.026027,0.023803,0.028500,0.025206,0.023654,0.024628,0.025436,0.030171,0.024818,0.026478
2014,0.026559,0.026957,0.027259,0.024595,0.026022,0.024026,0.027035,0.025180,0.023334,0.024053,0.026798,0.029899,0.026066,0.025291
2015,0.028144,0.027551,0.024451,0.026669,0.025708,0.025772,0.026211,0.025357,0.023551,0.023757,0.026819,0.026096,0.027686,0.024904
2016,0.022137,0.025301,0.020989,0.031057,0.029213,0.025014,0.026542,0.022855,0.026846,0.023972,0.029335,0.025688,0.027919,0.026515

In [58]:
so2_df = get_df(df_list, 'SO2 Mean')
so2_df

,Arizona,California,Colorado,District Of Columbia,Florida,Illinois,Indiana,Kansas,Louisiana,New York,North Carolina,Oklahoma,Pennsylvania,Texas
2000,0.002303,0.001721,0.002138,0.008138,0.001974,0.006064,0.007351,0.000943,0.003659,0.007182,0.003661,0.000852,0.005155,0.002726
2001,0.001667,0.001814,0.002438,0.006651,0.001148,0.005480,0.003314,0.000993,0.003692,0.007796,0.003280,0.001004,0.005269,0.001727
2002,0.001874,0.001626,0.002247,0.006713,0.000662,0.004179,0.003512,0.001563,0.002613,0.006823,0.002736,0.001016,0.005051,0.000361
2003,0.001800,0.001495,0.001963,0.008323,0.000656,0.005028,0.003391,0.001796,0.003362,0.007447,0.002890,0.001050,0.004914,0.002037
2004,0.001626,0.001828,0.001899,0.006475,0.000648,0.004125,0.004726,0.002095,0.003460,0.006998,0.002370,0.000909,0.004592,0.002010
2005,0.001845,0.001653,0.001930,0.004484,0.000520,0.004829,0.004767,0.002211,0.003767,0.007352,0.002156,0.000413,0.005491,0.002270
2006,0.001689,0.001383,0.002085,0.004525,0.000391,0.002712,0.009934,0.003291,0.003438,0.004699,0.002658,0.001907,0.005003,0.001848
2007,0.001520,0.001216,0.001919,0.005021,0.000659,0.001663,0.003399,0.004196,0.002575,0.004960,0.002940,0.000654,0.005171,0.001248
2008,0.001457,0.001095,0.001860,0.005556,0.000551,0.001583,0.002465,0.004044,0.002396,0.004549,0.002070,0.000592,0.003979,0.000773
2009,0.001176,0.001007,0.001371,0.004529,0.000121,0.001440,0.001543,0.004652,0.001913,0.003345,0.000802,0.000654,0.003545,0.000668
2010,0.001047,0.000721,0.001028,0.003361,0.000148,0.002108,0.002986,0.005189,0.001360,0.003039,0.000904,0.000794,0.002920,0.000829
2011,0.000776,0.000709,0.001407,0.003600,0.000096,0.002485,0.001361,0.003619,0.001247,0.002484,0.000571,0.000842,0.002136,0.000634
2012,0.000913,0.000601,0.001336,0.001682,0.000060,0.001113,0.000845,0.002809,0.000824,0.002516,0.000234,0.000458,0.002191,0.000564
2013,0.000716,0.000476,0.001060,0.000991,-0.000026,0.000879,0.002176,0.002043,0.000635,0.001807,0.000254,0.000347,0.002101,0.000386
2014,0.000924,0.000492,0.000942,0.001118,0.000109,0.000983,0.002480,0.001758,0.001245,0.001433,0.000332,0.000169,0.002254,0.000324
2015,0.000585,0.000459,0.001034,0.001268,0.000035,0.001184,0.001263,0.001542,0.001071,0.001005,0.000271,0.000693,0.001350,0.000258
2016,0.000396,0.000601,0.001004,0.000972,0.000396,0.000942,0.000393,0.001085,0.001113,0.001051,0.000236,0.001490,0.001058,0.000322

In [59]:
co_df = get_df(df_list, 'CO Mean')
co_df

,Arizona,California,Colorado,District Of Columbia,Florida,Illinois,Indiana,Kansas,Louisiana,New York,North Carolina,Oklahoma,Pennsylvania,Texas
2000,0.745756,0.644488,0.611388,1.175696,0.725072,0.702893,0.872974,0.754412,0.756646,0.462469,0.618248,0.047977,0.302550,0.436668
2001,0.649472,0.622149,0.627563,1.075424,0.638525,0.591790,0.382713,0.334625,0.825789,0.493436,0.539908,0.033368,0.320831,0.384691
2002,0.705928,0.601791,0.499262,1.158795,0.471433,0.590667,0.444146,0.392605,0.715798,0.441820,0.432545,0.060068,0.260632,0.340582
2003,0.632011,0.575379,0.549692,0.896370,0.441272,0.512715,0.442218,0.315825,0.661954,0.529578,0.485786,0.042237,0.266114,0.460083
2004,0.509960,0.517947,0.616847,0.617589,0.520814,0.577741,0.564829,0.381378,0.561826,0.436545,0.429905,0.015515,0.326305,0.343802
2005,0.618088,0.459535,0.617500,0.848892,0.564062,0.456603,0.422176,0.383880,0.470699,0.399690,0.517736,0.016907,0.213495,0.314723
2006,0.555681,0.444421,0.571693,1.115848,0.389185,0.371336,0.656321,0.375922,0.371685,0.319387,0.403574,0.112292,0.231311,0.262154
2007,0.508593,0.416035,0.549441,1.196905,0.284006,0.326551,0.448705,0.422214,0.381694,0.366200,0.375289,0.207000,0.238084,0.229212
2008,0.425363,0.390693,0.405501,1.221562,0.223521,0.275450,0.419633,0.402355,0.283272,0.315405,0.322851,0.152388,0.184915,0.224069
2009,0.422903,0.394015,0.355386,0.865725,0.337613,0.265658,0.233750,0.296209,0.221387,0.240139,0.293876,0.218559,0.235364,0.200133
2010,0.365168,0.344747,0.365696,0.883861,0.394005,0.347147,0.164237,0.417027,0.247255,0.304924,0.328667,0.217853,0.268295,0.228114
2011,0.343425,0.360517,0.332983,0.668864,0.433695,0.340223,0.056329,0.451442,0.221498,0.277631,0.338969,0.228101,0.231961,0.198427
2012,0.342598,0.336925,0.370598,0.594510,0.382462,0.294958,0.400799,0.510675,0.218683,0.343471,0.280406,0.168744,0.222539,0.182515
2013,0.320892,0.355129,0.307037,0.340436,0.297425,0.292046,0.268147,0.435788,0.204016,0.305675,0.288645,0.172496,0.166301,0.175513
2014,0.405268,0.344463,0.318473,0.358650,0.457568,0.300024,0.231246,0.264855,0.266719,0.274945,0.269448,0.157094,0.189982,0.178338
2015,0.355645,0.333131,0.389759,0.272984,0.514102,0.302543,0.248852,0.286100,0.220869,0.261883,0.258940,0.239572,0.173290,0.207629
2016,0.468290,0.360436,0.451524,0.257102,0.573668,0.309317,0.244739,0.252643,0.232938,0.293644,0.247236,0.277548,0.094981,0.227267

In [60]:
total_df = get_df(df_list, 'Total Mean')
total_df

,Arizona,California,Colorado,District Of Columbia,Florida,Illinois,Indiana,Kansas,Louisiana,New York,North Carolina,Oklahoma,Pennsylvania,Texas
2000,0.798202,0.687464,0.645494,1.224127,0.765760,0.752500,0.925394,0.794784,0.801407,0.514070,0.671734,0.090925,0.348376,0.480331
2001,0.695511,0.666567,0.672161,1.127486,0.676223,0.640492,0.433128,0.374191,0.869818,0.547200,0.590789,0.076960,0.369254,0.428627
2002,0.754270,0.646514,0.541882,1.214099,0.506577,0.636477,0.499557,0.430260,0.757456,0.494625,0.484683,0.098953,0.308522,0.385840
2003,0.679421,0.618316,0.592142,0.946706,0.476274,0.559350,0.490029,0.355004,0.701848,0.581065,0.531398,0.085071,0.310436,0.504747
2004,0.554335,0.560905,0.657593,0.664519,0.556943,0.621316,0.613716,0.417344,0.603334,0.485550,0.473690,0.054292,0.368931,0.384332
2005,0.665032,0.500273,0.662426,0.895856,0.600239,0.503868,0.472980,0.423212,0.514256,0.451008,0.564364,0.059417,0.260185,0.357994
2006,0.603409,0.486094,0.618916,1.163044,0.427287,0.412583,0.704377,0.418019,0.413075,0.367027,0.450918,0.152595,0.276181,0.303200
2007,0.553691,0.456998,0.596887,1.245813,0.319266,0.366152,0.494955,0.463035,0.421861,0.412721,0.421601,0.241615,0.284100,0.267850
2008,0.470645,0.431742,0.452051,1.271644,0.257114,0.312789,0.460137,0.445292,0.320464,0.361006,0.364179,0.185803,0.227020,0.260187
2009,0.466621,0.434052,0.397771,0.912213,0.372236,0.301144,0.271358,0.336629,0.258601,0.281663,0.330452,0.254057,0.274872,0.233453
2010,0.408035,0.383384,0.405850,0.933106,0.428707,0.388603,0.206066,0.456881,0.286605,0.349065,0.369665,0.254343,0.310210,0.265000
2011,0.387629,0.399653,0.379762,0.712977,0.467284,0.379686,0.101368,0.490146,0.259645,0.319113,0.378816,0.271505,0.270176,0.237008
2012,0.387856,0.375469,0.418572,0.638381,0.414831,0.335710,0.447247,0.554373,0.255887,0.388655,0.317326,0.208309,0.260380,0.220559
2013,0.365061,0.393439,0.351149,0.378432,0.327972,0.327712,0.309183,0.474897,0.237950,0.350030,0.322816,0.209758,0.202843,0.211949
2014,0.448863,0.382796,0.363579,0.396666,0.488679,0.335580,0.272094,0.302824,0.301779,0.317352,0.304323,0.193185,0.227569,0.213488
2015,0.397079,0.371410,0.435283,0.314154,0.543955,0.337879,0.289820,0.324035,0.254877,0.303811,0.292976,0.274168,0.209323,0.242044
2016,0.506634,0.394440,0.497141,0.301591,0.608771,0.345647,0.285532,0.288168,0.273809,0.336514,0.284278,0.312851,0.131374,0.264461

In [79]:
df_list[0].groupby('State')[mean_cols].mean()

                      NO2 Mean   O3 Mean  SO2 Mean   CO Mean  Total Mean
State
Arizona               0.026488  0.023655  0.002303  0.745756    0.798202
California            0.017581  0.023675  0.001721  0.644488    0.687464
Colorado              0.014902  0.017066  0.002138  0.611388    0.645494
District Of Columbia  0.022726  0.017567  0.008138  1.175696    1.224127
Florida               0.012453  0.026261  0.001974  0.725072    0.765760
Illinois              0.026437  0.017105  0.006064  0.702893    0.752500
Indiana               0.015288  0.029782  0.007351  0.872974    0.925394
Kansas                0.009704  0.029726  0.000943  0.754412    0.794784
Kentucky              0.012672  0.028896  0.004781  0.177907    0.224256
Louisiana             0.017346  0.023756  0.003659  0.756646    0.801407
Michigan              0.022640  0.023350  0.005415  0.277001    0.328407
Missouri              0.016873  0.027761  0.004145  0.522040    0.570819
New Jersey            0.020522  0.020281  0.006278  0.584840    0.631920
New York              0.023167  0.021252  0.007182  0.462469    0.514070
North Carolina        0.015173  0.034652  0.003661  0.618248    0.671734
Oklahoma              0.004771  0.037325  0.000852  0.047977    0.090925
Pennsylvania          0.016131  0.024541  0.005155  0.302550    0.348376
Texas                 0.016347  0.024590  0.002726  0.436668    0.480331
Virginia              0.017916  0.022609  0.009043  0.644428    0.693995