In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [5]:
df = pd.read_csv("pollution_us_2000_2016.csv")

In [6]:
df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [7]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [8]:
df.columns

Index(['State Code', 'County Code', 'Site Num', 'Address', 'State', 'County',
       'City', 'Date Local', 'NO2 Units', 'NO2 Mean', 'NO2 1st Max Value',
       'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [9]:
states = df['State'].unique()
states

array(['Arizona', 'California', 'Colorado', 'District Of Columbia',
       'Florida', 'Illinois', 'Indiana', 'Kansas', 'Kentucky',
       'Louisiana', 'Michigan', 'Missouri', 'New Jersey', 'New York',
       'North Carolina', 'Oklahoma', 'Pennsylvania', 'Texas', 'Virginia',
       'Massachusetts', 'Nevada', 'New Hampshire', 'Tennessee',
       'South Carolina', 'Connecticut', 'Iowa', 'Maine', 'Maryland',
       'Wisconsin', 'Country Of Mexico', 'Arkansas', 'Oregon', 'Wyoming',
       'North Dakota', 'Idaho', 'Ohio', 'Georgia', 'Delaware', 'Hawaii',
       'Minnesota', 'New Mexico', 'Rhode Island', 'South Dakota', 'Utah',
       'Alabama', 'Washington', 'Alaska'], dtype=object)

In [10]:
len(states)

47

In [11]:
df['Date Local'] = pd.to_datetime(df['Date Local'])
df = df.set_index('Date Local')

In [12]:
df.columns

Index(['State Code', 'County Code', 'Site Num', 'Address', 'State', 'County',
       'City', 'NO2 Units', 'NO2 Mean', 'NO2 1st Max Value',
       'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [13]:
drop_cols = ['State Code', 'County Code', 'Site Num', 'Address', 'City', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI']

In [14]:
df.shape

(1746661, 27)

In [15]:
df.drop(drop_cols, axis = 1, inplace=True)
df.head()

,State,County,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
Date Local,,,,,,,,,,
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,0.878947
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,0.878947
2000-01-02,Arizona,Maricopa,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,Parts per million,0.850000

In [16]:
df['NO2 Units'].unique()

array(['Parts per billion'], dtype=object)

In [17]:
df['SO2 Units'].unique()

array(['Parts per billion'], dtype=object)

In [18]:
df['O3 Units'].unique()

array(['Parts per million'], dtype=object)

In [19]:
df['CO Units'].unique()

array(['Parts per million'], dtype=object)

In [20]:
df['NO2 Mean'] = df['NO2 Mean']/1000
df['SO2 Mean'] = df['SO2 Mean']/1000

In [21]:
df.head()

,State,County,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
Date Local,,,,,,,,,,
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.003000,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.003000,Parts per million,0.878947
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.002975,Parts per million,1.145833
2000-01-01,Arizona,Maricopa,Parts per billion,0.019042,Parts per million,0.022500,Parts per billion,0.002975,Parts per million,0.878947
2000-01-02,Arizona,Maricopa,Parts per billion,0.022958,Parts per million,0.013375,Parts per billion,0.001958,Parts per million,0.850000

In [22]:
remove_unit_cols = ['NO2 Units', 'SO2 Units', 'O3 Units', 'CO Units']
df.drop(remove_unit_cols, axis=1, inplace=True)
df.head()

              State    County  NO2 Mean   O3 Mean  SO2 Mean   CO Mean
Date Local
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.003000  1.145833
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.003000  0.878947
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.002975  1.145833
2000-01-01  Arizona  Maricopa  0.019042  0.022500  0.002975  0.878947
2000-01-02  Arizona  Maricopa  0.022958  0.013375  0.001958  0.850000

In [23]:
df.isna().sum()

State       0
County      0
NO2 Mean    0
O3 Mean     0
SO2 Mean    0
CO Mean     0
dtype: int64

In [24]:
df['Total Mean'] = df['NO2 Mean'] + df['O3 Mean'] + df['SO2 Mean'] + df['CO Mean']

In [25]:
df.head()

,State,County,NO2 Mean,O3 Mean,SO2 Mean,CO Mean,Total Mean
Date Local,,,,,,,
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.003000,1.145833,1.190375
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.003000,0.878947,0.923489
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.002975,1.145833,1.190350
2000-01-01,Arizona,Maricopa,0.019042,0.022500,0.002975,0.878947,0.923464
2000-01-02,Arizona,Maricopa,0.022958,0.013375,0.001958,0.850000,0.888292

In [26]:
df_list = []
for i in range(2000, 2017, 1):
    df_list.append(df.loc[str(i)])

In [37]:
mean_cols = ['NO2 Mean', 'O3 Mean', 'SO2 Mean', 'CO Mean', 'Total Mean']

In [49]:
def get_df(df_list, gas_name):
    dict_of_lists = {state:[] for state in states}
    for df_year in df_list:
        for state in states:
            state_vals = df_year[df_year['State'] == state]
            dict_of_lists[state].append(state_vals[gas_name].mean())
    result = pd.DataFrame(dict_of_lists)
    index_list = [item for item in range(2000, 2017)]
    result.index = index_list
    return result

In [50]:
no2_df = get_df(df_list, 'NO2 Mean')

In [51]:
no2_df

,Arizona,California,Colorado,District Of Columbia,Florida,Illinois,Indiana,Kansas,Kentucky,Louisiana,...,Delaware,Hawaii,Minnesota,New Mexico,Rhode Island,South Dakota,Utah,Alabama,Washington,Alaska
2000,0.026488,0.017581,0.014902,0.022726,0.012453,0.026437,0.015288,0.009704,0.012672,0.017346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,0.022745,0.017761,0.025783,0.024474,0.012388,0.022357,0.014948,0.010595,0.012558,0.017359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,0.023665,0.016755,0.019769,0.024441,0.011314,0.019854,0.016393,0.008776,0.011075,0.018008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,0.023101,0.015795,0.021073,0.022641,0.010930,0.020684,0.014523,0.009623,0.010844,0.015563,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,0.020134,0.015151,0.021645,0.020956,0.009516,0.018814,0.013781,0.009540,NaN,0.015816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,0.021360,0.013966,0.024177,0.020837,0.008644,0.017899,0.013231,0.010950,NaN,0.014400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,0.020835,0.014016,0.024645,0.015967,0.008520,0.017392,0.013923,0.011178,NaN,0.014992,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,0.019330,0.013076,0.023835,0.015332,0.006136,0.014502,0.010994,0.013394,NaN,0.015199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,0.018251,0.012977,0.019081,0.018058,0.005214,0.014086,0.009289,0.016808,NaN,0.013101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,0.017156,0.012873,0.014231,0.018303,0.006028,0.013417,0.010136,0.012272,NaN,0.012875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,0.015917,0.012247,0.016171,0.017644,0.005672,0.013035,0.009392,0.013067,NaN,0.012699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,0.016615,0.012283,0.017526,0.015929,0.005362,0.012111,0.009906,0.013101,NaN,0.011666,...,0.011071,0.002890,0.007521,0.013407,0.005384,0.006188,0.018202,NaN,NaN,NaN
2012,0.017832,0.011071,0.020321,0.016273,0.005407,0.011954,0.009840,0.012066,NaN,0.011401,...,0.012468,0.002890,0.006409,0.013742,0.006288,0.006237,0.008554,NaN,NaN,NaN
2013,0.015480,0.011762,0.014343,0.011500,0.004546,0.010984,0.010360,0.011860,0.014108,0.009645,...,0.010792,0.003117,NaN,0.011771,0.007559,0.004066,0.012848,0.012066,0.011611,NaN
2014,0.016112,0.010884,0.016904,0.012303,0.004979,0.010548,0.011334,0.011031,0.011438,0.010481,...,0.011679,0.003449,0.006232,0.011614,0.007304,0.005041,0.014296,0.009412,0.008863,0.011659
2015,0.012705,0.010269,0.020039,0.013233,0.004110,0.008380,0.013494,0.011036,0.007885,0.009386,...,0.010075,0.003565,0.006645,0.011183,0.007640,0.004731,0.016982,0.009079,0.009673,0.011117
2016,0.015811,0.008102,0.023624,0.012461,0.005493,0.010374,0.013857,0.011585,NaN,0.012911,...,0.013771,NaN,NaN,NaN,0.007741,NaN,0.031516,0.009525,0.014731,NaN

In [40]:
(result.isna().any() == False).sum()

14

In [44]:
result.dropna(axis = 1, inplace=True)

In [45]:
result

,Arizona,California,Colorado,District Of Columbia,Florida,Illinois,Indiana,Kansas,Louisiana,New York,North Carolina,Oklahoma,Pennsylvania,Texas
2000,0.798202,0.687464,0.645494,1.224127,0.765760,0.752500,0.925394,0.794784,0.801407,0.514070,0.671734,0.090925,0.348376,0.480331
2001,0.695511,0.666567,0.672161,1.127486,0.676223,0.640492,0.433128,0.374191,0.869818,0.547200,0.590789,0.076960,0.369254,0.428627
2002,0.754270,0.646514,0.541882,1.214099,0.506577,0.636477,0.499557,0.430260,0.757456,0.494625,0.484683,0.098953,0.308522,0.385840
2003,0.679421,0.618316,0.592142,0.946706,0.476274,0.559350,0.490029,0.355004,0.701848,0.581065,0.531398,0.085071,0.310436,0.504747
2004,0.554335,0.560905,0.657593,0.664519,0.556943,0.621316,0.613716,0.417344,0.603334,0.485550,0.473690,0.054292,0.368931,0.384332
2005,0.665032,0.500273,0.662426,0.895856,0.600239,0.503868,0.472980,0.423212,0.514256,0.451008,0.564364,0.059417,0.260185,0.357994
2006,0.603409,0.486094,0.618916,1.163044,0.427287,0.412583,0.704377,0.418019,0.413075,0.367027,0.450918,0.152595,0.276181,0.303200
2007,0.553691,0.456998,0.596887,1.245813,0.319266,0.366152,0.494955,0.463035,0.421861,0.412721,0.421601,0.241615,0.284100,0.267850
2008,0.470645,0.431742,0.452051,1.271644,0.257114,0.312789,0.460137,0.445292,0.320464,0.361006,0.364179,0.185803,0.227020,0.260187
2009,0.466621,0.434052,0.397771,0.912213,0.372236,0.301144,0.271358,0.336629,0.258601,0.281663,0.330452,0.254057,0.274872,0.233453
2010,0.408035,0.383384,0.405850,0.933106,0.428707,0.388603,0.206066,0.456881,0.286605,0.349065,0.369665,0.254343,0.310210,0.265000
2011,0.387629,0.399653,0.379762,0.712977,0.467284,0.379686,0.101368,0.490146,0.259645,0.319113,0.378816,0.271505,0.270176,0.237008
2012,0.387856,0.375469,0.418572,0.638381,0.414831,0.335710,0.447247,0.554373,0.255887,0.388655,0.317326,0.208309,0.260380,0.220559
2013,0.365061,0.393439,0.351149,0.378432,0.327972,0.327712,0.309183,0.474897,0.237950,0.350030,0.322816,0.209758,0.202843,0.211949
2014,0.448863,0.382796,0.363579,0.396666,0.488679,0.335580,0.272094,0.302824,0.301779,0.317352,0.304323,0.193185,0.227569,0.213488
2015,0.397079,0.371410,0.435283,0.314154,0.543955,0.337879,0.289820,0.324035,0.254877,0.303811,0.292976,0.274168,0.209323,0.242044
2016,0.506634,0.394440,0.497141,0.301591,0.608771,0.345647,0.285532,0.288168,0.273809,0.336514,0.284278,0.312851,0.131374,0.264461

In [79]:
df_list[0].groupby('State')[mean_cols].mean()

                      NO2 Mean   O3 Mean  SO2 Mean   CO Mean  Total Mean
State
Arizona               0.026488  0.023655  0.002303  0.745756    0.798202
California            0.017581  0.023675  0.001721  0.644488    0.687464
Colorado              0.014902  0.017066  0.002138  0.611388    0.645494
District Of Columbia  0.022726  0.017567  0.008138  1.175696    1.224127
Florida               0.012453  0.026261  0.001974  0.725072    0.765760
Illinois              0.026437  0.017105  0.006064  0.702893    0.752500
Indiana               0.015288  0.029782  0.007351  0.872974    0.925394
Kansas                0.009704  0.029726  0.000943  0.754412    0.794784
Kentucky              0.012672  0.028896  0.004781  0.177907    0.224256
Louisiana             0.017346  0.023756  0.003659  0.756646    0.801407
Michigan              0.022640  0.023350  0.005415  0.277001    0.328407
Missouri              0.016873  0.027761  0.004145  0.522040    0.570819
New Jersey            0.020522  0.020281  0.006278  0.584840    0.631920
New York              0.023167  0.021252  0.007182  0.462469    0.514070
North Carolina        0.015173  0.034652  0.003661  0.618248    0.671734
Oklahoma              0.004771  0.037325  0.000852  0.047977    0.090925
Pennsylvania          0.016131  0.024541  0.005155  0.302550    0.348376
Texas                 0.016347  0.024590  0.002726  0.436668    0.480331
Virginia              0.017916  0.022609  0.009043  0.644428    0.693995